# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Environment & secret files
.env
*.env

# Logs
*.log
security.log

# OS-specific files
.DS_Store
Thumbs.db

# Editor/IDE files
.vscode/
.idea/

